<f:layout name="Default" />

<f:section name="content">
    <div id="templateContentMenu">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <f:render partial="MainContent" arguments="{layoutStyle:layoutStyle}" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <f:render partial="MenuContent" arguments="{layoutStyle:layoutStyle}" />
            </div>
        </div>
    </div>
</f:section>