{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap: Layouts/Default.html [begin] -->
<div id="layoutDefault">

	<div id="menuMain" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div id="logoWrapper" class="navbar-brand">
					<f:cObject typoscriptObjectPath="lib.header.logo.main" />
				</div>
				<button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<f:cObject typoscriptObjectPath="lib.menu.main" />
				<div class="menu-language-wrapper pull-right">
					<theme:widget.languageMenu
							availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
							currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
							defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
							defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
							defaultLanguageFlag="{theme:constant(constant: 'themes.languages.default.flag')}"
							/>
					<f:if condition="{theme:constant(constant: 'themes.languages.available')}">
						<span>
							<f:translate key="languageMenu_label" />
						</span>
					</f:if>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<section id="areaFeature" class="page-header">
			<f:cObject typoscriptObjectPath="lib.content.feature" />
		</section>

		<main id="areaMain" class="row">
			<div id="menuBreadcrumbWrapper">
				<span><f:translate key="breadcrumb_label" /></span>
				<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
			</div>
			<f:render section="Default" />
		</main>

		<section id="areaExtended" class="row">
			<f:cObject typoscriptObjectPath="lib.content.extended" />
		</section>
	</div>

	<f:render partial="Area/Footer" section="Default" arguments="{_all}" />
</div>
<!-- theme_bootstrap: Layouts/Default.html [end] -->