{namespace theme=KayStrobach\Themes\ViewHelpers}
<div id="layoutDefault" class="container">

  <div id="areaTop" class="row">
  </div>

  <header id="areaHeader" class="row">
      <h1><f:cObject typoscriptObjectPath="lib.logo" /></h1>
  </header>
  
  <section id="areaTeaser" class="row">
      <f:cObject typoscriptObjectPath="lib.content.feature" />
  </section>

  <nav id="areaNav" class="row">
      <f:cObject typoscriptObjectPath="lib.menu.main" />
  </nav>

  <main id="areaMain">
      Sprache: <theme:widget.languageMenu
              availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
              currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
              defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
              defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
              /> -

      <f:translate key='breadcrumb_label' extensionName='ThemeBootstrap' />
      <f:render section="content" />
  </main>
  
  <section id="areaExtended" class="row">
      <f:cObject typoscriptObjectPath="lib.content.extended" />
  </section>
    
  <footer id="areaFooter" class="row">
      <f:cObject typoscriptObjectPath="lib.copyright" />
      <f:cObject typoscriptObjectPath="lib.menu.footer" />
  </footer>
  
</div>
        <f:debug>{_all}</f:debug>