<div id="layoutStartsite">

  <div id="areaTop">
      
      <div class="container">
          
          <f:cObject typoscriptObjectPath="lib.logo"></f:cObject>
          
          <div id="alerts">
              <!-- Bootstrap Alerts -->
          </div>
          
      </div>
      
  </div>
  
  <nav id="areaNav">
      <div class="container">
          <f:cObject typoscriptObjectPath="lib.menu.main"></f:cObject>
          <!--f:render partial="QuickSearch"></f:render-->
      </div>
  </nav>

  <header id="areaHeader">
  </header>
  
  <section id="areaTeaser">
      <f:cObject typoscriptObjectPath="lib.content.feature"></f:cObject>
  </section>

  <main id="areaMain">
      <f:render section="content"></f:render>
  </main>
  
  <section id="areaExtended">
      <f:cObject typoscriptObjectPath="lib.content.extended"></f:cObject>
  </section>
    
  <footer id="areaFooter" class="footer">
      <div class="container">
          <f:cObject typoscriptObjectPath="lib.menu.footer"></f:cObject>
          <f:cObject typoscriptObjectPath="lib.copyright"></f:cObject>
      </div>
  </footer>
  
</div>