{namespace theme=KayStrobach\Themes\ViewHelpers}
<!-- theme_bootstrap: Layouts/Startsite.html [begin] -->
<div id="layoutStartsite">
	<div id="menuMain" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div id="logoWrapper" class="navbar-brand">
					<h1><f:cObject typoscriptObjectPath="lib.header.logo.main" /></h1>
				</div>
				<button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<f:cObject typoscriptObjectPath="lib.menu.main" />
				<div id="menuLanguageWrapper">
					<theme:widget.languageMenu
							availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
							currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
							defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
							defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
							/>
					<f:if condition="{theme:constant(constant: 'themes.languages.available')}">
						<span>
							<f:translate key="languageMenu_label" />
						</span>
					</f:if>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<section id="areaFeature" class="page-header">
			<f:cObject typoscriptObjectPath="lib.content.feature" />
		</section>

		<main id="areaMain" class="row">
			<div id="menuBreadcrumbWrapper">
				<span><f:translate key="breadcrumb_label" /></span>
				<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
			</div>
			<f:render section="Default" />
		</main>

		<section id="areaExtended" class="row">
			<f:cObject typoscriptObjectPath="lib.content.extended" />
		</section>

	</div>

	<footer id="areaFooter">
		<div class="container">

			<div class="menu-special-wrapper col-md-12">
				<f:cObject typoscriptObjectPath="lib.menu.special" />
			</div>

			<div class="col-md-6">
				<div id="footerLogo">
					<f:cObject typoscriptObjectPath="lib.footer.logo.main" />
				</div>
			</div>

			<div class="col-md-6">
				<div class="menu-footer-wrapper">
					<f:cObject typoscriptObjectPath="lib.menu.footer" />
				</div>
				<div class="socialmedia-list-wrapper">
					<f:render partial="Socialmedia/List" section="Default" />
				</div>
			</div>

			<div class="footer-line-wrapper col-md-12">
				<ul class="footer-line list-inline">
					<li class="address">
						<span><f:format.htmlentitiesDecode>{theme:constant(constant: 'themes.configuration.footer.address')}</f:format.htmlentitiesDecode></span>
					</li>
					<li>|</li>
					<li class="email">
						<f:link.email email="{theme:constant(constant: 'themes.configuration.footer.email')}">{theme:constant(constant: 'themes.configuration.footer.email')}</f:link.email></li>
					<li>|</li>
					<f:cObject typoscriptObjectPath="lib.footer.copyright" />
				</ul>
			</div>
		</div>
	</footer>
</div>
<!-- theme_bootstrap: Layouts/Startsite.html [end] -->