<!-- theme_bootstrap: Layouts/Startsite.html [begin] -->
<div id="layoutStartsite" class="theme_bootstrap">
	<div id="menuMain" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div id="logoWrapper" class="navbar-brand">
					<h1><f:cObject typoscriptObjectPath="lib.logo" /></h1>
				</div>
				<button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<f:cObject typoscriptObjectPath="lib.menu.main" />
				<div id="menuLanguageWrapper">
					<theme:widget.languageMenu
							availableLanguages="{theme:constant(constant: 'themes.languages.available')}"
							currentLanguageUid="{theme:constant(constant: 'themes.languages.current.uid')}"
							defaultLanguageIsoCodeShort="{theme:constant(constant: 'themes.languages.default.isoCodeShort')}"
							defaultLanguageLabel="{theme:constant(constant: 'themes.languages.default.label')}"
							/>
					<f:if condition="{theme:constant(constant: 'themes.languages.available')}">
						<span>
							<f:translate key="languageMenu_label" />
						</span>
					</f:if>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<section id="areaTeaser" class="page-header">
			<f:cObject typoscriptObjectPath="lib.content.feature" />
		</section>

		<main id="areaMain" class="row">
			<div id="menuBreadcrumbWrapper">
				<span><f:translate key="breadcrumb_label" /></span>
				<f:cObject typoscriptObjectPath="lib.menu.breadcrumb" />
			</div>
			<f:render section="Default" />
		</main>

		<section id="areaExtended" class="row">
			<f:cObject typoscriptObjectPath="lib.content.extended" />
		</section>

	</div>

	<footer id="areaFooter">
		<div class="container">

			<div class="menu-special-wrapper col-md-12">
				<f:cObject typoscriptObjectPath="lib.menu.special" />
			</div>

			<div class="menu-footer-wrapper col-md-10">
				<f:cObject typoscriptObjectPath="lib.menu.footer" />
			</div>

			<div class="socialmedia-list-wrapper col-md-2">
				<f:render partial="Socialmedia/List" />
			</div>

			<div class="footer-line-wrapper col-md-12">
				<ul class="list-inline footer-line">
					<f:cObject typoscriptObjectPath="lib.copyright" />
					<li class="address">{theme:constant(constant:'themes.configuration.footer.address')}</li>
				</ul>
			</div>
		</div>
	</footer>
</div>
<!-- theme_bootstrap: Layouts/Startsite.html [end] -->