<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<f:layout name="Default" />

<f:section name="Main">
	<div class="tx-felogin panel panel-default card mb-3">
		<div class="panel-body card-body">

			<f:flashMessages/>

			<f:if condition="{cookieWarning}">
				<f:render partial="CookieWarning" />
			</f:if>

			<f:if condition="{messageKey}">
				<div class="alert alert-info" role="alert">
					<h3 class="h3 panel-title card-title">
						<f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_header'}"/>
					</h3>
					<p class="mb-0">
						<f:render partial="RenderLabelOrMessage" arguments="{key: '{messageKey}_message'}"/>
					</p>
				</div>
			</f:if>

			<f:if condition="{onSubmit}">
				<f:then>
					<f:form target="_top" fieldNamePrefix="" action="login" onsubmit="{onSubmit}" additionalAttributes="{spellcheck: 'false'}" class="form felogin-form felogin-form-login">
						<f:render section="content" arguments="{_all}"/>
					</f:form>
				</f:then>
				<f:else>
					<f:form target="_top" fieldNamePrefix="" action="login" additionalAttributes="{spellcheck: 'false'}" class="form felogin-form felogin-form-login">
						<f:render section="content" arguments="{_all}"/>
					</f:form>
				</f:else>
			</f:if>

			<f:if condition="{settings.showForgotPassword}">
				<div class="form-group mb-0 mt-3">
					<p class="help-block form-text text-muted mb-0">
						<f:link.action action="recovery" controller="PasswordRecovery">
							<f:render partial="RenderLabelOrMessage" arguments="{key: 'forgot_header'}"/>
						</f:link.action>
					</p>
				</div>
			</f:if>

		</div>
	</div>
</f:section>

<f:section name="content">
	<fieldset>
		<legend class="h3">
			<f:translate key="login"/>
		</legend>

		<div class="form-group mb-3">
			<label for="felogin-user">
				<f:translate key="username"/>
			</label>
			<f:form.textfield
				name="user"
				id="felogin-user"
				required="true"
				class="form-control"
				additionalAttributes="{autocomplete: 'username'}"
			/>
		</div>

		<div class="form-group mb-3">
			<label for="felogin-pass">
				<f:translate key="password"/>
			</label>
			<f:form.password
				name="pass"
				id="felogin-pass"
				class="form-control"
				additionalAttributes="{required: 'required', autocomplete: 'current-password'}"
			/>
		</div>

		<f:if condition="{permaloginStatus} > -1">
			<div class="form-group mb-3">
				<div class="checkbox form-check">
					<label class="form-check-label">
						<f:if condition="{permaloginStatus} == 1">
							<f:then>
								<f:form.hidden name="permalogin" value="0" additionalAttributes="{disabled: 'disabled'}"/>
								<f:form.checkbox name="permalogin" id="permalogin" value="1" checked="checked" class="form-check-input" />
							</f:then>
							<f:else>
								<f:form.hidden name="permalogin" value="0"/>
								<f:form.checkbox name="permalogin" id="permalogin" value="1" class="form-check-input" />
							</f:else>
						</f:if>
						<f:translate id="permalogin"/>
					</label>
				</div>
			</div>
		</f:if>

		<div class="form-group mb-3">
			<f:form.submit
				value="{f:translate(key: 'login')}"
				name="submit"
				class="btn btn-primary btn-default"
			/>
		</div>

		<div class="felogin-hidden" style="display:none;">
			<f:form.hidden name="logintype" value="login"/>
			<f:form.hidden name="pid" value="{storagePid}"/>
			<f:if condition="{redirectURL}!=''">
				<f:form.hidden name="redirect_url" value="{redirectURL}" />
			</f:if>
			<f:if condition="{referer}!=''">
				<f:form.hidden name="referer" value="{referer}" />
			</f:if>
			<f:if condition="{redirectReferrer}!=''">
				<f:form.hidden name="redirectReferrer" value="off" />
			</f:if>
			<f:if condition="{noRedirect}!=''">
				<f:form.hidden name="noredirect" value="1" />
			</f:if>
		</div>
	</fieldset>
</f:section>
</html>
